<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">

<ui:composition template="../template.xhtml">
	<ui:define name="content">
		<h:form id="formLista">
			<p:dataTable id="perguntas" var="pergunta"
				value="#{perguntaBean.perguntaLazy}" lazy="true"
				selectionMode="single" selection="#{perguntaBean.pergunta}"
				paginator="true"
				paginatorTemplate="{RowsPerPageDropdown} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink}"
				rowsPerPageTemplate="5,10,15" rows="10"
				emptyMessage="Nenhum registro encontrado." reflow="true"
				style="margin-top:20px;margin-left:20px;margin-right:20px">
				<f:facet name="header">
					<h:outputText value="Pergunta" />
				</f:facet>
				<p:column headerText="Id">
					<h:outputText value="#{pergunta.id}" />
				</p:column>
				<p:column headerText="Descrição">
					<h:outputText value="#{pergunta.descricao}" />
				</p:column>
				<p:column headerText="Tipo Resposta">
					<h:outputText value="#{pergunta.tipoCampoResposta.descricao}" />
				</p:column>
				<f:facet name="footer">
					<p:outputPanel autoUpdate="true">
						<p:commandButton id="botaoNovo" value="novo" title="novo"
							icon="ui-icon-plus" action="#{perguntaBean.novo}"
							partialSubmit="true" immediate="true" update=":formCadastro">
							<p:resetInput target=":formCadastro" />
						</p:commandButton>
						<p:commandButton id="botaoEditar" value="#{msg['botao.editar']}"
							title="#{msg['botao.editar']}"
							oncomplete="PF('dlgCadastro').show()" update=":formCadastro"
							icon="ui-icon-pencil" partialSubmit="true"
							action="#{perguntaBean.editar()}"
							disabled="#{empty perguntaBean.pergunta.id}">
							<p:resetInput target=":formCadastro" />
						</p:commandButton>
						<p:commandButton id="botaoExcluir" value="#{msg['botao.excluir']}"
							title="#{msg['botao.excluir']}" update="@form"
							icon="ui-icon-trash" onclick="PF('confirma').show()"
							partialSubmit="true" type="button"
							disabled="#{empty perguntaBean.pergunta.id}" />
						<p:commandButton id="botaoExportar"
							value="#{msg['botao.exportar']}" title="#{msg['botao.exportar']}"
							ajax="false" actionListener="#{perguntaBean.exportarExcel()}" />
					</p:outputPanel>
				</f:facet>
				<p:ajax event="rowSelect" global="false"
					update="botaoEditar botaoExcluir" />
			</p:dataTable>
			<p:confirmDialog id="dialogConfirma" widgetVar="confirma"
				closable="false" header="#{msg['label.confirma']}">
				<f:facet name="message">
					<h:outputText value="#{msg['confirma.excluir']}" />
				</f:facet>
				<p:commandButton id="botaoConfirmar"
					value="#{msg['botao.confirmar']}" title="#{msg['botao.confirmar']}"
					icon="ui-icon-check" action="#{perguntaBean.excluir()}"
					update="@form" oncomplete="PF('confirma').hide()" />
				<p:commandButton id="botaoCancelar" value="#{msg['botao.cancelar']}"
					title="#{msg['botao.cancelar']}" icon="ui-icon-cancel"
					type="button" onclick="PF('confirma').hide()" />
			</p:confirmDialog>
		</h:form>



		<p:dialog header="Cadastro de Pergunta" widgetVar="dlgCadastro"
			modal="true" resizable="false" responsive="true">
			<h:form id="formCadastro">
				<p:messages id="mensagensCadastro" showSummary="true" />
				<h:panelGrid layout="grid" columns="2"
					styleClass="ui-panelgrid-blank"
					columnClasses="ui-grid-col-4,ui-grid-col-8">
					<h:outputLabel for="descricao" value="Descrição" />
					<p:inputTextarea id="descricao"
						value="#{perguntaBean.pergunta.descricao}" rows="3">
					</p:inputTextarea>

					<h:outputLabel for="tipoCampoResposta" value="Tipo de Resposta" />
					<h:selectOneMenu id="tipoCampoResposta"
						value="#{perguntaBean.pergunta.tipoCampoResposta}">
						<f:selectItem itemLabel="Selecione" itemValue=""
							noSelectionOption="true" />
						<f:selectItems value="#{perguntaBean.tiposPergunta}" />
					</h:selectOneMenu>


					<h:outputLabel for="ativo" value="Ativo"
						rendered="#{perguntaBean.pergunta.id ne null}" />
					<p:selectOneRadio id="ativo" converter="enumConverter"
						value="#{perguntaBean.pergunta.ativo}"
						rendered="#{perguntaBean.pergunta.id ne null}">
						<f:selectItems value="#{perguntaBean.simNao}" var="itemAtivo"
							itemLabel="#{itemAtivo.descricao}" />
					</p:selectOneRadio>

					<h:outputLabel for="foto" value="Foto"
						rendered="#{perguntaBean.pergunta.id ne null}" />
					<p:selectOneRadio id="foto" converter="enumConverter"
						value="#{perguntaBean.pergunta.foto}"
						rendered="#{perguntaBean.pergunta.id ne null}">
						<f:selectItems value="#{perguntaBean.simNao}" var="itemFoto"
							itemLabel="#{itemFoto.descricao}" />
					</p:selectOneRadio>
					<f:facet name="footer">
						<p:commandButton id="botaoSalvar" value="salvar" title="salvar"
							action="#{perguntaBean.salvar()}"
							update="@form :formLista:perguntas"
							oncomplete="handleCadastroClose(xhr, status, args);"
							icon="ui-icon-disk" />
						<p:commandButton id="botaoCancelar" value="cancelar"
							title="cancelar" type="button"
							onclick="PF('dlgCadastro').hide();" icon="ui-icon-cancel"
							process="@this">
						</p:commandButton>
					</f:facet>
				</h:panelGrid>
				<h:outputScript name="pergunta.js" library="js" />
			</h:form>
		</p:dialog>

	</ui:define>
</ui:composition>
</html>