<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">
<h:head>
	<meta
		http-equiv="Content-Type"
		content="text/html; charset=UTF-8" />
		
	<title>Promoter - USUARIO</title>
	<h:outputStylesheet name="style.css" library="css"/>
</h:head>
<h:body>
	<h:form>
		<h:panelGrid>
		</h:panelGrid>
		<p:commandButton  value="novo"></p:commandButton>
		<p:commandButton  value="excel"></p:commandButton>
		
		<p:dataTable
			id="usuarios"
			var="usuario"
			value="#{usuarioBean.usuarios}"
			lazy="false"
			paginator="false"
			rows="10"
			emptyMessage="Nenhum registro encontrado.">
			<p:column headerText="Id">
				<h:outputText value="#{usuario.id}" />
			</p:column>
			<p:column headerText="Nome">
				<h:outputText value="#{usuario.id}" />
			</p:column>
			<p:column headerText="Telefone">
				<h:outputText value="#{usuario.id}" />
			</p:column>
			<p:column headerText="IMEI">
				<h:outputText value="#{usuario.id}" />
			</p:column>
			<p:column headerText="Status">
				<h:outputText value="#{usuario.id}" />
			</p:column>
			<p:column headerText="RCA">
				<h:outputText value="#{usuario.id}" />
			</p:column>
			<p:column headerText="Supervisor">
				<h:outputText value="#{usuario.id}" />
			</p:column>
			<p:column headerText="Opções">
			</p:column>
		</p:dataTable>
	</h:form>
</h:body>
</html>