<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" 
      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets">
<h:head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<h:outputStylesheet library="css" name="style.css" />
	<h:outputScript library="js"  name="calendario_ptbr.js"></h:outputScript>
</h:head>

<h:body>
	<div id="top">
		<ui:insert name="header">
			<p:growl id="grwl"/>
			<h:form id="formMenu">
				<p:menubar model="#{menuBean.menubar}"/>
			</h:form>
		</ui:insert>
	</div>
	<div id="content">
		<ui:insert name="content">
		</ui:insert>
	</div>
</h:body>
</html>